@mixin border {
  border: 1px solid $color-grey-light;
  border-radius: 0.5rem;
}

@mixin flex-column($center: false) {
  display: flex;
  flex-direction: column;
  @if $center {
    align-items: center;
  }
}
